node_modules/



# do not commit flattened build output at repo root
/static/
/asset-manifest.json
/index.html
/favicon.ico
/logo192.png
/logo512.png
/manifest.json
/robots.txt

# misc
.env
.env.local
npm-debug.log*
yarn-*.log*
.DS_Store
Thumbs.db
.vscode/
.idea/
coverage/
